# MANAGED_BY_ANSIBLE
data_dir   = "{{ nomad_lib_dir }}"
datacenter = "{{ consul_datacentre }}"

client {
  enabled          = true
  servers          = [
  {% for ip in nomad_servers %}
    "{{ ip }}:4647"{{ "," if not loop.last else "" }}
{% endfor %}
  ]

  meta {
    function = "{{ hostvars[inventory_hostname]['function'] | default('UndefinedFunction') }}"
  }
{% if nomad_render_templates_once is defined %}
  template {
      render_templates_once = {{ nomad_render_templates_once | lower }}
  }
{% endif %}
}
{% if nomad_consul_client_token is defined %}

consul {
  token = "{{ nomad_consul_client_token }}"
}
{% endif %}
{% if nomad_vault_token is defined %}

vault {
  address = "{{ nomad_vault_scheme }}://{{ nomad_vault_addr }}"
  enabled = true
}
{% endif %}
{% if nomad_plugin_raw_exec %}

plugin "raw_exec" {
  config {
    enabled = true
  }
}
{% endif %}
{% if nomad_plugin_docker %}

plugin "docker" {
  config {
    auth {
      config = "{{ nomad_docker_config_path }}"
    }
    volumes {
      enabled = {{ nomad_docker_allow_volumes | lower }}
    }
  }
}
{% endif %}
{% if nomad_publish_to_datadog %}

telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  datadog_address            = "localhost:8125"
  disable_hostname           = true
  collection_interval        = "10s"
}
{% endif %}

# end
