data_dir   = "{{nomad_lib_dir}}"
datacenter = "{{consul_datacentre}}"

client {
  enabled          = true
  servers          = [
  {% for ip in nomad_servers %}
    "{{ip}}:4647"{{ "," if not loop.last else "" }}
{% endfor %}
  ]
}

{% if nomad_allow_raw_exec is defined %} 
plugin "raw_exec" {
  config {
    enabled = true
  }
}
{% endif %}

# MANAGED_BY_ANSIBLE
