[Unit]
Description=Nomad startup process
After=network.target
 
[Service]
ExecStart=/bin/bash -c '{{hashicorp_dir_bin}}/nomad agent -config={{nomad_etc_dir}}/nomad-server.hcl'
Restart=always
RestartSec=10
TimeoutStartSec=0
Type=simple
 
[Install]
WantedBy=default.target
