[Unit]
Description=Nomad {{nomad_role}}
Documentation=https://nomadproject.io/docs/
After=network.target
 
[Service]
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/bin/bash -c '{{hashicorp_dir_bin}}/nomad agent -config={{nomad_etc_dir}}/server.hcl -bind={{local_ipv4}}'
Restart=always
RestartSec=10
TimeoutStartSec=0
Type=simple
 
[Install]
WantedBy=default.target
