# MANAGED_BY_ANSIBLE
data_dir   = "{{ nomad_lib_dir }}"
datacenter = "{{ consul_datacentre }}"
log_level  = "{{ nomad_log_level }}"

server {
  bootstrap_expect = 3
  enabled          = true
}

{% if nomad_publish_to_datadog %}
telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  datadog_address            = "localhost:8125"
  disable_hostname           = true
  collection_interval        = "10s"
}
{% else %}
# nomad_publish_to_datadog is false
{% endif %}

{% if nomad_enable_ui %}
ui {
  enabled = true
{% if nomad_consul_url is defined %}
  consul {
    ui_url = "{{ nomad_consul_url }}"
  }
{% endif %}
}
{% else %}
# nomad_enable_ui is false
{% endif %}

{% if nomad_consul_server_token is defined %}
consul {
  token = "{{ nomad_consul_server_token }}"
}
{% else %}
# nomad_consul_server_token is not defined
{% endif %}

{% if nomad_vault_token is defined %}
vault {
  address          = "{{ nomad_vault_scheme }}://{{ nomad_vault_addr }}"
  create_from_role = "{{ nomad_vault_role }}"
  enabled          = true
  token            = "{{ nomad_vault_token }}"
}
{% else %}
# nomad_vault_token is not defined
{% endif %}

# end
