# MANAGED_BY_ANSIBLE
data_dir   = "{{ nomad_lib_dir }}"
datacenter = "{{ consul_datacentre }}"
log_level  = "{{ nomad_log_level }}"

consul {
  address = "{{ nomad_consul_addr }}:8500"
{% if nomad_consul_server_token is defined %}
  token   = "{{ nomad_consul_server_token }}"
{% endif %}
}

server {
  bootstrap_expect = {{ nomad_servers | length }}
  enabled          = true
}
{% if nomad_telemetry_enabled %}

telemetry {
  collection_interval        = "10s"
  disable_hostname           = true
  publish_allocation_metrics = true
  publish_node_metrics       = true
{%      if nomad_telemetry_type == "datadog" %}
  datadog_address            = "{{ nomad_telemetry_hostname }}:{{ nomad_telemetry_port }}"
{%          if (nomad_telemetry_tags | length) > 0 %}
  datadog_tags               = [
{%              for kk in nomad_telemetry_tags %}
  "{{ kk }}",
{%              endfor %}
  ]
{%          endif %}
{%      else %}
  statsd_address             = "{{ nomad_telemetry_hostname }}:{{ nomad_telemetry_port }}"
{%      endif %}

}
{% endif %}
{% if nomad_enable_ui %}

ui {
  enabled = true
{% if nomad_consul_url is defined %}
  consul {
    ui_url = "{{ nomad_consul_url }}"
  }
{% endif %}
}
{% endif %}
{% if nomad_vault_token is defined %}

vault {
  address          = "{{ nomad_vault_scheme }}://{{ nomad_vault_addr }}"
  create_from_role = "{{ nomad_vault_role }}"
  enabled          = true
  token            = "{{ nomad_vault_token }}"
}
{% endif %}
